(
    actuators: {},
    algorithm: ArticulatedBody,
    base: (
        name: "base",
        system: Celestial((
            epoch: (
                system: UTC,
                value: (786263727.756297),
            ),
            bodies: [
                (
                    body: Sun,
                    position: (0.0, 0.0, 0.0),
                    orientation: (
                        x: 0.0,
                        y: 0.0,
                        z: 0.0,
                        s: 1.0,
                    ),
                    gravity: None,
                    geomag: None,
                ),
                (
                    body: Earth,
                    position: (0.0, 0.0, 0.0),
                    orientation: (
                        x: 0.0,
                        y: 0.0,
                        z: 0.0,
                        s: 1.0,
                    ),
                    gravity: Some(Newtownian((
                        mu: 398600441800000.0,
                    ))),
                    geomag: None,
                ),
                (
                    body: Moon,
                    position: (0.0, 0.0, 0.0),
                    orientation: (
                        x: 0.0,
                        y: 0.0,
                        z: 0.0,
                        s: 1.0,
                    ),
                    gravity: None,
                    geomag: None,
                ),
            ],
        )),
        outer_joints: [
            "f",
        ],
    ),
    bodies: [
        (
            actuators: [],
            inner_joint: Some("f"),
            mass_properties: (
                center_of_mass: (
                    cmx: 0.0,
                    cmy: 0.0,
                    cmz: 0.0,
                ),
                mass: 1000.0,
                inertia: (
                    ixx: 1000.0,
                    ixy: 0.0,
                    ixz: 0.0,
                    iyy: 1000.0,
                    iyz: 0.0,
                    izz: 1000.0,
                ),
            ),
            mesh: Some((
                name: "b",
                geometry: Cuboid((
                    x: 1.0,
                    y: 1.0,
                    z: 1.0,
                )),
                material: Phong(
                    color: (
                        r: 0.0,
                        g: 1.0,
                        b: 0.0,
                        a: 1.0,
                    ),
                    specular_power: 32.0,
                ),
                state: (
                    position: (0.0, 0.0, 0.0),
                    rotation: (0.0, 0.0, 0.0, 1.0),
                ),
                texture: None,
            )),
            name: "b",
            outer_joints: [],
            sensors: [],
        ),
    ],
    joints: [
        (
            name: "f",
            model: {
                "Floating": (
                    parameters: (
                        xr: (
                            constant_force: 0.0,
                            damping: 0.0,
                            equilibrium: 0.0,
                            spring_constant: 0.0,
                        ),
                        yr: (
                            constant_force: 0.0,
                            damping: 0.0,
                            equilibrium: 0.0,
                            spring_constant: 0.0,
                        ),
                        zr: (
                            constant_force: 0.0,
                            damping: 0.0,
                            equilibrium: 0.0,
                            spring_constant: 0.0,
                        ),
                        xt: (
                            constant_force: 0.0,
                            damping: 0.0,
                            equilibrium: 0.0,
                            spring_constant: 0.0,
                        ),
                        yt: (
                            constant_force: 0.0,
                            damping: 0.0,
                            equilibrium: 0.0,
                            spring_constant: 0.0,
                        ),
                        zt: (
                            constant_force: 0.0,
                            damping: 0.0,
                            equilibrium: 0.0,
                            spring_constant: 0.0,
                        ),
                    ),
                    state: (
                        q: (
                            x: 0.0,
                            y: 0.0,
                            z: 0.0,
                            s: 1.0,
                        ),
                        w: (0.0, 0.0, 0.0),
                        r: (7000000.0, 0.0, 0.0),
                        v: (0.0, 7546.053290107542, 0.0),
                    ),
                ),
            },
            connections: (
                inner_body: Some((
                    body_id: "base",
                    transform: (
                        rotation: Quaternion((
                            x: 0.0,
                            y: 0.0,
                            z: 0.0,
                            s: 1.0,
                        )),
                        translation: Cartesian((
                            x: 0.0,
                            y: 0.0,
                            z: 0.0,
                        )),
                    ),
                )),
                outer_body: Some((
                    body_id: "b",
                    transform: (
                        rotation: Quaternion((
                            x: 0.0,
                            y: 0.0,
                            z: 0.0,
                            s: 1.0,
                        )),
                        translation: Cartesian((
                            x: 0.0,
                            y: 0.0,
                            z: 0.0,
                        )),
                    ),
                )),
            ),
        ),
    ],
    sensors: {},
)