{
    "pace": (
        algorithm: ArticulatedBody,
        base: (
            id: "71792d9d-6613-4aee-8376-6647b690afa3",
            name: "base",
            system: Celestial((
                epoch: (
                    system: UTC,
                    value: (782920114.1156766),
                ),
                bodies: [
                    (
                        body: Earth,
                        position: (0.0, 0.0, 0.0),
                        orientation: Quaternion((
                            x: 0.0,
                            y: 0.0,
                            z: 0.0,
                            s: 1.0,
                        )),
                        gravity: Some(EGM96(())),
                        geomag: None,
                    ),
                    (
                        body: Sun,
                        position: (0.0, 0.0, 0.0),
                        orientation: Quaternion((
                            x: 0.0,
                            y: 0.0,
                            z: 0.0,
                            s: 1.0,
                        )),
                        gravity: None,
                        geomag: None,
                    ),
                    (
                        body: Moon,
                        position: (0.0, 0.0, 0.0),
                        orientation: Quaternion((
                            x: 0.0,
                            y: 0.0,
                            z: 0.0,
                            s: 1.0,
                        )),
                        gravity: None,
                        geomag: None,
                    ),
                ],
            )),
            outer_joints: [
                "2a4e313c-56a5-4e50-a346-2c1173d59d66",
            ],
        ),
        bodies: {
            "26a5d42c-108c-43f6-8b22-c2d3eb24ef3a": (
                id: "26a5d42c-108c-43f6-8b22-c2d3eb24ef3a",
                inner_joint: Some("2a4e313c-56a5-4e50-a346-2c1173d59d66"),
                mass_properties: (
                    center_of_mass: (
                        cmx: 0.0,
                        cmy: 0.0,
                        cmz: 0.0,
                    ),
                    mass: 1.0,
                    inertia: (
                        ixx: 1.0,
                        ixy: 0.0,
                        ixz: 0.0,
                        iyy: 1.0,
                        iyz: 0.0,
                        izz: 1.0,
                    ),
                ),
                name: "pace",
                outer_joints: [],
                mesh: Some((
                    name: "pace",
                    geometry: Cuboid((
                        x: 3.0,
                        y: 2.0,
                        z: 2.0,
                    )),
                    material: Phong(
                        color: (
                            r: 1.0,
                            g: 1.0,
                            b: 1.0,
                            a: 1.0,
                        ),
                        specular_power: 32.0,
                    ),
                    state: (
                        position: (0.0, 0.0, 0.0),
                        rotation: (0.0, 0.0, 0.0, 1.0),
                    ),
                    texture: None,
                )),
                sensors: [],
            ),
        },
        joints: {
            "2a4e313c-56a5-4e50-a346-2c1173d59d66": Floating((
                common: (
                    id: "2a4e313c-56a5-4e50-a346-2c1173d59d66",
                    name: "f",
                    connection: (
                        inner_body: Some((
                            body_id: "71792d9d-6613-4aee-8376-6647b690afa3",
                            transform: (
                                rotation: Quaternion((
                                    x: 0.0,
                                    y: 0.0,
                                    z: 0.0,
                                    s: 1.0,
                                )),
                                translation: Cartesian((
                                    x: 0.0,
                                    y: 0.0,
                                    z: 0.0,
                                )),
                            ),
                        )),
                        outer_body: Some((
                            body_id: "26a5d42c-108c-43f6-8b22-c2d3eb24ef3a",
                            transform: (
                                rotation: Quaternion((
                                    x: 0.0,
                                    y: 0.0,
                                    z: 0.0,
                                    s: 1.0,
                                )),
                                translation: Cartesian((
                                    x: 0.0,
                                    y: 0.0,
                                    z: 0.0,
                                )),
                            ),
                        )),
                    ),
                    mass_properties: None,
                ),
                parameters: ((
                    constant_force: 0.0,
                    damping: 0.0,
                    spring_constant: 0.0,
                ), (
                    constant_force: 0.0,
                    damping: 0.0,
                    spring_constant: 0.0,
                ), (
                    constant_force: 0.0,
                    damping: 0.0,
                    spring_constant: 0.0,
                ), (
                    constant_force: 0.0,
                    damping: 0.0,
                    spring_constant: 0.0,
                ), (
                    constant_force: 0.0,
                    damping: 0.0,
                    spring_constant: 0.0,
                ), (
                    constant_force: 0.0,
                    damping: 0.0,
                    spring_constant: 0.0,
                )),
                state: (
                    q: (
                        x: 0.0,
                        y: 0.0,
                        z: 0.0,
                        s: 1.0,
                    ),
                    w: (0.0, 0.0, 0.0),
                    r: (2711017.0, 1127836.0, 6403890.0),
                    v: (6919.0, 128.0, -2945.0),
                ),
            )),
        },
        sensors: {},
    ),
    "3pend": (
        algorithm: ArticulatedBody,
        base: (
            id: "28e57b10-6c91-4c9f-ada5-d006507fe27b",
            name: "base",
            system: Basic(Some(Constant((
                value: (0.0, 0.0, -9.8),
            )))),
            outer_joints: [
                "aad6abe8-15d2-48a7-9e61-eaea31065f4b",
            ],
        ),
        bodies: {
            "7f186b6f-5a7d-41a5-a4f5-ed2116f8da57": (
                id: "7f186b6f-5a7d-41a5-a4f5-ed2116f8da57",
                inner_joint: Some("9f82fbae-6ccf-470e-92fa-39468e78e45e"),
                mass_properties: (
                    center_of_mass: (
                        cmx: 0.0,
                        cmy: 0.0,
                        cmz: 0.0,
                    ),
                    mass: 1.0,
                    inertia: (
                        ixx: 1.0,
                        ixy: 0.0,
                        ixz: 0.0,
                        iyy: 1.0,
                        iyz: 0.0,
                        izz: 1.0,
                    ),
                ),
                name: "b3",
                outer_joints: [],
                mesh: Some((
                    name: "b3",
                    geometry: Cuboid((
                        x: 0.1,
                        y: 0.1,
                        z: 1.0,
                    )),
                    material: Phong(
                        color: (
                            r: 0.0,
                            g: 1.0,
                            b: 0.0,
                            a: 1.0,
                        ),
                        specular_power: 32.0,
                    ),
                    state: (
                        position: (0.0, 0.0, 0.0),
                        rotation: (0.0, 0.0, 0.0, 1.0),
                    ),
                    texture: None,
                )),
                sensors: [],
            ),
            "db11c631-8615-427f-bd9b-2916f685328c": (
                id: "db11c631-8615-427f-bd9b-2916f685328c",
                inner_joint: Some("10b534ae-c780-4532-84f5-39b0ddd9588e"),
                mass_properties: (
                    center_of_mass: (
                        cmx: 0.0,
                        cmy: 0.0,
                        cmz: 0.0,
                    ),
                    mass: 1.0,
                    inertia: (
                        ixx: 1.0,
                        ixy: 0.0,
                        ixz: 0.0,
                        iyy: 1.0,
                        iyz: 0.0,
                        izz: 1.0,
                    ),
                ),
                name: "b2",
                outer_joints: [
                    "9f82fbae-6ccf-470e-92fa-39468e78e45e",
                ],
                mesh: Some((
                    name: "b2",
                    geometry: Cuboid((
                        x: 0.1,
                        y: 0.1,
                        z: 1.0,
                    )),
                    material: Phong(
                        color: (
                            r: 0.0,
                            g: 0.0,
                            b: 1.0,
                            a: 1.0,
                        ),
                        specular_power: 32.0,
                    ),
                    state: (
                        position: (0.0, 0.0, 0.0),
                        rotation: (0.0, 0.0, 0.0, 1.0),
                    ),
                    texture: None,
                )),
                sensors: [],
            ),
            "262ca570-fba8-4670-b3f8-e7527e71ef11": (
                id: "262ca570-fba8-4670-b3f8-e7527e71ef11",
                inner_joint: Some("aad6abe8-15d2-48a7-9e61-eaea31065f4b"),
                mass_properties: (
                    center_of_mass: (
                        cmx: 0.0,
                        cmy: 0.0,
                        cmz: 0.0,
                    ),
                    mass: 1.0,
                    inertia: (
                        ixx: 1.0,
                        ixy: 0.0,
                        ixz: 0.0,
                        iyy: 1.0,
                        iyz: 0.0,
                        izz: 1.0,
                    ),
                ),
                name: "b1",
                outer_joints: [
                    "10b534ae-c780-4532-84f5-39b0ddd9588e",
                ],
                mesh: Some((
                    name: "b1",
                    geometry: Cuboid((
                        x: 0.1,
                        y: 0.1,
                        z: 1.0,
                    )),
                    material: Phong(
                        color: (
                            r: 1.0,
                            g: 0.0,
                            b: 0.0,
                            a: 1.0,
                        ),
                        specular_power: 32.0,
                    ),
                    state: (
                        position: (0.0, 0.0, 0.0),
                        rotation: (0.0, 0.0, 0.0, 1.0),
                    ),
                    texture: None,
                )),
                sensors: [],
            ),
        },
        joints: {
            "9f82fbae-6ccf-470e-92fa-39468e78e45e": Revolute((
                common: (
                    id: "9f82fbae-6ccf-470e-92fa-39468e78e45e",
                    name: "r3",
                    connection: (
                        inner_body: Some((
                            body_id: "db11c631-8615-427f-bd9b-2916f685328c",
                            transform: (
                                rotation: Quaternion((
                                    x: 0.0,
                                    y: 0.0,
                                    z: 0.0,
                                    s: 1.0,
                                )),
                                translation: Cartesian((
                                    x: 0.0,
                                    y: 0.0,
                                    z: -0.5,
                                )),
                            ),
                        )),
                        outer_body: Some((
                            body_id: "7f186b6f-5a7d-41a5-a4f5-ed2116f8da57",
                            transform: (
                                rotation: Quaternion((
                                    x: 0.0,
                                    y: 0.0,
                                    z: 0.0,
                                    s: 1.0,
                                )),
                                translation: Cartesian((
                                    x: 0.0,
                                    y: 0.0,
                                    z: 0.5,
                                )),
                            ),
                        )),
                    ),
                    mass_properties: None,
                ),
                parameters: (
                    constant_force: 0.0,
                    damping: 0.0,
                    spring_constant: 0.0,
                ),
                state: (
                    theta: 0.0,
                    omega: 0.0,
                ),
            )),
            "aad6abe8-15d2-48a7-9e61-eaea31065f4b": Revolute((
                common: (
                    id: "aad6abe8-15d2-48a7-9e61-eaea31065f4b",
                    name: "r1",
                    connection: (
                        inner_body: Some((
                            body_id: "28e57b10-6c91-4c9f-ada5-d006507fe27b",
                            transform: (
                                rotation: Quaternion((
                                    x: 0.0,
                                    y: 0.0,
                                    z: 0.0,
                                    s: 1.0,
                                )),
                                translation: Cartesian((
                                    x: 0.0,
                                    y: 0.0,
                                    z: 0.0,
                                )),
                            ),
                        )),
                        outer_body: Some((
                            body_id: "262ca570-fba8-4670-b3f8-e7527e71ef11",
                            transform: (
                                rotation: Quaternion((
                                    x: 0.0,
                                    y: 0.0,
                                    z: 0.0,
                                    s: 1.0,
                                )),
                                translation: Cartesian((
                                    x: 0.0,
                                    y: 0.0,
                                    z: 0.5,
                                )),
                            ),
                        )),
                    ),
                    mass_properties: None,
                ),
                parameters: (
                    constant_force: 0.0,
                    damping: 0.0,
                    spring_constant: 0.0,
                ),
                state: (
                    theta: 0.7,
                    omega: 0.0,
                ),
            )),
            "10b534ae-c780-4532-84f5-39b0ddd9588e": Revolute((
                common: (
                    id: "10b534ae-c780-4532-84f5-39b0ddd9588e",
                    name: "r2",
                    connection: (
                        inner_body: Some((
                            body_id: "262ca570-fba8-4670-b3f8-e7527e71ef11",
                            transform: (
                                rotation: Quaternion((
                                    x: 0.0,
                                    y: 0.0,
                                    z: 0.0,
                                    s: 1.0,
                                )),
                                translation: Cartesian((
                                    x: 0.0,
                                    y: 0.0,
                                    z: -0.5,
                                )),
                            ),
                        )),
                        outer_body: Some((
                            body_id: "db11c631-8615-427f-bd9b-2916f685328c",
                            transform: (
                                rotation: Quaternion((
                                    x: 0.0,
                                    y: 0.0,
                                    z: 0.0,
                                    s: 1.0,
                                )),
                                translation: Cartesian((
                                    x: 0.0,
                                    y: 0.0,
                                    z: 0.5,
                                )),
                            ),
                        )),
                    ),
                    mass_properties: None,
                ),
                parameters: (
                    constant_force: 0.0,
                    damping: 0.0,
                    spring_constant: 0.0,
                ),
                state: (
                    theta: 0.0,
                    omega: -0.2,
                ),
            )),
        },
        sensors: {},
    ),
}